<div>
     {{#with main}}
     <main>
          <section>
               {{>title data = "Educations" big = true}}

               <ul>
                    {{#each education}}
                    <li>{{name}}
                         {{#if isEnd true=false}} (still studying ) {{/if}}
                    </li>
                    {{/each}}
               </ul>
          </section>
          <section>
               {{>title data="My certificate" big = false}}
               <ul>
                    {{#each cretificates}}
                    <li> {{name}} ({{id}})</li>

                    {{/each}}
               </ul>
          </section>
     </main>
     {{/with}}
</div>