<div>
     <hr>
     <div>
          {{#with heading}}
          <div>
               {{#with main}}
               {{>heading
               title=heading.title
               text=heading.text
               solid=heading.solid
               outline=heading.outline
               }}
               {{/with}}
          </div>
          <br>














          <div>

               {{#with second}}
               {{>second
               title=second.title
               text=second.text
               solid=second.solid
               outline=second.outline
               }}
               {{/with}}
          </div>

          <br>
          <div>
               {{#with subblock}}
               {{>subblock
               title=subblock.title
               text=subblock.text
               solid=subblock.solid
               outline=subblock.outline
               }}
               {{/with}}
          </div>


          {{/with}}
     </div>
     <hr>
     <br>
     <div>
          <div>
               {{#with nested_display}}
               {{>nested
               title=nested_display.title}}
               {{#with children_display}}
               <br>
               {{>children
               title=children_display.title
               text=children_display.text}}
               {{/with}}

          </div>
          {{/with}}
     </div>
     <hr>
     <div>
          {{#with paragraph}}
          {{>paragraph
          title=paragraph.title
          text=paragraph.text
          }}
          <br>

          {{#each list_name}}
          {{>list
          text=list_name.text
          url=list_name.url
          }}
          {{/each}}
          {{/with}}
     </div>


</div>
</div>