<div class="card">
     <div class="card-body">
          <div>
               <div class="display-4"> Outdated HTML tags</div>
          </div>
          <br>
          <span class="display-7">tags that have been identified as <br>
               deprecated and not recommended for use in HTML version 5'</span>
          <br>
          <div>
               <button class="btn btn-warning">open</button>
          </div>


     </div>
</div>