<div class="card">
     <div class="card-body">
          <div class="display-1" "text-center">'JavaScript'</div><br>
          <span class="text-muted">'JavaScript is a popular high-level, dynamic, <br>
               and interpreted programming language.'</span>

          <div>
               <button class="btn btn-primary">Open page</button>
          </div>

          <div>
               <button class="btn btn outline-primary">'Add to cart'</button>
          </div>
     </div>
</div>