<div class="card">
     <div class="card-body">
          <div>
               <div class="display-1">HTML</div>
               <div>{{>children}}</div>
               <div class="display-4"> Sections</div>
               <br>
               <div>
                    <button class="btn btn-info btn-sm">learn more</button>
               </div>
          </div>
     </div>
</div>