<div>
     <span class="display-5">About modules</span>
     <br>
     <span class="text-muted">Modules with import/export statements</span>
</div>
<br>
<div>
     <a href="https://google.com" class="btn btn-link">Open link page</a>
</div>