<div class="card">
     <div class="card-body">
          <div>
               <h2>'Stack Overflow'</h2>
          </div>
          <br>
          <span class="display-7">'First-class functions'</span>

          <div>
               <button class="btn btn-secondary">Open page</button>
          </div>
          <br>
          <div>
               <button class="btn btn-outline-secondary">'Add to cart'</button>
          </div>
     </div>
</div>