<section>

     <div class="container">
          <div class="row">

               <div class="col order-first">
                    <p class="text-muted">number</p>
                    <p class="text-display-6">status</p>
               </div>

               <div class="col">

                    <p class="text-display-6">title</p>
                    <p class="text-display-6">value</p>
               </div>

               <div class="col mb-5">

                    <img src="#" class="container-img-top" alt="...">

               </div>
               <div class="col order- last">

                    <a href="#" class="btn btn-primary btn-sm">text</a>

               </div>
          </div>
     </div>

</section>