<main class="p-5">
     <div class="row">
          <div class="col-12 mb-5">
               <div class="nav-tabs">
                    <div class="nav-item зb-5">
                         <a href="#" class="nav-link">Catalog</a>
                    </div>
                    <div class="nav-item">
                         <a href="#" class="nav-link active">Shop-list</a>
                    </div>
                    <div class="nav-item">
                         <a href="#" class="nav-link active">Shop-list</a>
                    </div>
               </div>

               <div class="col-5 pe-5">
                    <div class="pt-2 pb-5">
                         <div class="card-body pb-5">
                              <div class="nav flex-colum">
                                   <div class="nav-item mb-2">
                                        <div class="card">
                                             <div class="nav-item">
                                                  <a href="#" class="nav-link">mein</a>
                                             </div>
                                        </div>

                                        <div class="card">
                                             <div class="nav-item mb-2">
                                                  <a href="#" class="nav-link active">catalog</a>
                                             </div>

                                        </div>

                                        <div class="card">
                                             <div class="nav-item">
                                                  <a href="#" class="nav-link disabled">FAQ page</a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-7">
                    <div class="row">
                         <div class="col-12">
                              <ol class="breadcrumb">
                                   <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                   </li>
                                   <li class="breadcrumb-item">
                                        <a href="#">Street</a>
                                   </li>
                                   <li class="breadcrumb-item">
                                        Town
                                   </li>
                              </ol>
                         </div>
                         <div class="col-12">
                              <button class="btn btn-primary rounded-pill m-5">click me</button>
                              <button class="btn btn-primary rounded-pill m-5 my-3 ms-0">click me</button>
                              <div class="alert alert-dark">
                                   <h6 class="m=0">Hello world <span
                                             class="bage text-bg-warning rounded-pill text-uppercase">Top</span>
                                   </h6>

                              </div>
                         </div>
                         <div class=" alert alert-primary">This is impotant!</div>
                    </div>
               </div>
          </div>
     </div>
     </div>
</main>