<!DOCTYPE html>
<html>

<head>
     <title>
          Person page
     </title>
     <meta charset='utf-8' />
     <link href='css/index.css' rel='stylesheet' />
</head>

<body>
     <!-- <div>
          {{#with pprogram}}
          <div>
               <h1>{{excursion.name=name}}</h1>
               <address>
                    {{location.city}}
                    {{location.country}}
               </address>

               <br>

               {{/with}}
          </div>-->
     <div>test</div>
     {{{body}}}


</body>


</html>